#room-board {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.furniture-label {
    font-weight: bold;
    color: rgb(242, 4, 4);
    font-size: 30px;
    font-style: bold;
    font-style: italic;
    margin-bottom: 4px;
    margin-top: 14px;
}

#delete-button {
    font-size: 16px;
    position: absolute;
    bottom: 3px;
    left: 6px;
    margin: 0;
    background-color: aliceblue;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-style: italic;
}

#room {
    height: 800px;
    width: 1230px;
    border: 4px solid rgba(0, 0, 0, 0.593);
    background-image: url(https://www.simpleimageresizer.com/_uploads/photos/c9b5cb84/grid_1230x800.gif);
}
.dimensions-label {
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 0px;
}
