#room-board {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#days {
    margin: auto;
    flex-direction: row;
    margin-left: 300px;
    word-spacing: 121px;
    color: rgb(110, 7, 255);
    font-weight: bolder;
    font-size: x-large;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.furniture-label {
    font-weight: bold;
    color: rgb(242, 4, 4);
    font-size: 30px;
    font-style: bold;
    font-style: italic;
    margin-bottom: 4px;
    margin-top: 14px;
}

#delete-button {
    font-size: 16px;
    position: absolute;
    bottom: 3px;
    left: 6px;
    margin: 0;
    background-color: aliceblue;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-style: italic;
}

#room {
    height: 800px;
    width: 1290px;
    border: 4px solid rgba(0, 0, 0, 0.593);
    background-image: url(https://iili.io/HC8R1ln.gif);
}
.dimensions-label {
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 0px;
}
